<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htf.zdh.jdbc.dao.ApiVisitMapper">
  <resultMap id="BaseResultMap" type="com.htf.zdh.jdbc.po.ApiVisit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, uri
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from api_visit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="count" parameterType="java.lang.String" resultType="int">
    select count(*)
    from api_visit
    where uri = #{uri,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from api_visit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.htf.zdh.jdbc.po.ApiVisit">
    insert into api_visit (id, create_time, uri
      )
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{uri,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.htf.zdh.jdbc.po.ApiVisit">
    insert into api_visit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="uri != null">
        uri,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uri != null">
        #{uri,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.htf.zdh.jdbc.po.ApiVisit">
    update api_visit
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uri != null">
        uri = #{uri,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.htf.zdh.jdbc.po.ApiVisit">
    update api_visit
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      uri = #{uri,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>