<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htf.zdh.jdbc.dao.AppInfoListMapper">
	<resultMap id="BaseResultMap" type="com.htf.zdh.jdbc.po.AppInfoList">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="env" jdbcType="VARCHAR" property="env" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="version" jdbcType="VARCHAR" property="version" />
		<result column="download_url" jdbcType="VARCHAR" property="downloadUrl" />
		<result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="autotest" jdbcType="VARCHAR" property="autotest" />
		<result column="app_name" jdbcType="VARCHAR" property="appName" />
	</resultMap>
	<sql id="Base_Column_List">
		id, env, type, version, download_url, upload_time, remark, name,
		autotest, app_name
	</sql>

	<select id="selectApps" resultMap="BaseResultMap"
		parameterType="com.htf.zdh.jdbc.po.AppInfoList">
		select
		<include refid="Base_Column_List" />
		from app_info_list
		where 1=1
		<if test="id != null">
			AND id = #{id,jdbcType=INTEGER}
		</if>
		<if test="env != null">
			AND env like CONCAT('%',#{env,jdbcType=VARCHAR},'%')
		</if>
		<if test="type != null">
			AND type = #{type,jdbcType=VARCHAR}
		</if>
		<if test="version != null">
			AND version like CONCAT('%',#{version,jdbcType=VARCHAR},'%')
		</if>
		<if test="autotest != null">
			AND autotest = #{autotest,jdbcType=VARCHAR}
		</if>
		<if test="appName != null">
			AND app_name = #{appName,jdbcType=VARCHAR}
		</if>
		ORDER BY upload_time DESC
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from app_info_list
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from app_info_list
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.htf.zdh.jdbc.po.AppInfoList">
		insert into app_info_list (id, env, type,
		version, download_url, upload_time,
		remark, name, autotest,
		app_name)
		values (#{id,jdbcType=INTEGER}, #{env,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		#{version,jdbcType=VARCHAR}, #{downloadUrl,jdbcType=VARCHAR}, #{uploadTime,jdbcType=TIMESTAMP},
		#{remark,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
		#{autotest,jdbcType=VARCHAR},
		#{appName,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.htf.zdh.jdbc.po.AppInfoList">
		insert into app_info_list
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="env != null">
				env,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="downloadUrl != null">
				download_url,
			</if>
			<if test="uploadTime != null">
				upload_time,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="autotest != null">
				autotest,
			</if>
			<if test="appName != null">
				app_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="env != null">
				#{env,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version,jdbcType=VARCHAR},
			</if>
			<if test="downloadUrl != null">
				#{downloadUrl,jdbcType=VARCHAR},
			</if>
			<if test="uploadTime != null">
				#{uploadTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="autotest != null">
				#{autotest,jdbcType=VARCHAR},
			</if>
			<if test="appName != null">
				#{appName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.htf.zdh.jdbc.po.AppInfoList">
		update app_info_list
		<set>
			<if test="env != null">
				env = #{env,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				version = #{version,jdbcType=VARCHAR},
			</if>
			<if test="downloadUrl != null">
				download_url = #{downloadUrl,jdbcType=VARCHAR},
			</if>
			<if test="uploadTime != null">
				upload_time = #{uploadTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="autotest != null">
				autotest = #{autotest,jdbcType=VARCHAR},
			</if>
			<if test="appName != null">
				app_name = #{appName,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.htf.zdh.jdbc.po.AppInfoList">
		update app_info_list
		set env = #{env,jdbcType=VARCHAR},
		type = #{type,jdbcType=VARCHAR},
		version = #{version,jdbcType=VARCHAR},
		download_url = #{downloadUrl,jdbcType=VARCHAR},
		upload_time = #{uploadTime,jdbcType=TIMESTAMP},
		remark = #{remark,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		autotest = #{autotest,jdbcType=VARCHAR},
		app_name = #{appName,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>